/* Styles for record table */

#table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

.table-header {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 2px solid black;
  color: white;
  padding: 5px;
}

.cell {
  background-color: white;
  border: 2px solid black;
  padding: 5px;
}
